body{
    background-color:white;
    margin: 0 1%;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}


.cards {
}

.card {
    background-color: aliceblue;
    border: 1px solid black;
    margin: 5px 1%;
    padding: 1%;
}

.card:hover {
    cursor: pointer;
}

.card img {
    height: 200px;
    padding-right: 2%;
}

.cardname {
    text-align: center;
    display: inline-block;
    font-size: 30px;
}


.houses {
}

.house {
    background-color: azure;
    border: 1px solid black;
    margin: 5px 1%;
    padding: 1%;
}

.house img {
    height: 200px;
    padding-right: 2%;
}

.house:hover {
    cursor: pointer;
}

.housename {
    text-align: center;
    display: inline-block;
    font-size: 30px;
}

.cardViewer {
    background-color:#FFF6E5;
    border: 1px solid black;
    padding: 3%;
    margin: 1% 0;
}

.houseViewer {
    background-color:#FFFCE5;
    border: 1px solid black;
    padding: 3%;
    margin: 1% 0;
}

.infoImage img {
    width: 50%;
    margin: 15px 25%;
    align-content: center;
}

.infoText {
    margin-top: 20px;
}

.infoText p {
    font-size: 30px;
}


.col-xs-4 {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}

li {
    font-size: 30px;
}
    
p {
    font-size: 30px;
}


li.enabled._msddli_ img {
    height: 100px;
/*
    max-width: 100px;
    max-height: 100px;
*/
}

.ddTitleText img {
    height: 100px;
/*
    max-width: 100px;
    max-height: 100px;
*/
}