html, body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #121212;
  color: #dedede;
}

.hidden {
  display: none !important;
}

h2, h3 {
  text-align: center;
  margin: 0.2em;
}

h1 {
  font-size: 4em;
  background: #ffffff20;
  margin: 0;
  padding: 0.5em;  
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 2em;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

button.reset {
  position: absolute;
  z-index: 1;
  top: 1.2em;
  right: .75em;
  width: auto;
}

.dropdown-item {
  display: flex;
  padding: 5px;
  border: 1px solid #0001;
  margin: 5px 0;
}

.dropdown-item .image-wrapper {
  width: 100px;
  display: flex;
  justify-content: center;
}


.dropdown-item .image-wrapper img {
  max-width: 100px;
  max-height: 100px;
}

.dropdown-item h2 {
  max-width: 90vw;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item:hover {
  background-color: #BCBCBC;
  cursor: pointer;
}

.selected {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.selected > img {
   margin: 1em 0;
}
